<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FlickrAPIKey</key>
	<string>6c58989ee5bbc4c02e2b4f939f4f39a7</string>
	<key>FacebookAppID</key>
	<string>169802619763331</string>
</dict>
</plist>
